@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

button {
  height: 60px;
  border-radius: 20px / 18px;
  display: block;
  text-transform: uppercase !important;
  font-family: 'Unbounded', cursive;
  span {
    font-family: 'Unbounded', cursive;
  }
}

@media (max-width: 639px) {
  button {
    height: 52px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Unbounded', cursive;
  font-style: normal;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}